* {
    box-sizing: border-box;
}

#container {
    display: flex;
    height: 500px;
    width: 270px;
    border: 3px solid black;
    border-radius: 8px;
    padding: 10px;
    background-color: gainsboro;
    gap: 10px;
    flex-direction: column;
}

#display {
    font-size: 80px;
    display: flex;
    justify-content: flex-end;
}

#upper-third {
    width: 235px;
    height: 100px;
    border: 2px solid black;
}

#middle-third {
    width: 350px;
    display: flex;
    gap: 10px;
}

#middle-third button {
    padding: 20px;
}

#buttons-numbers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#upper-digits, #middle-digits, #lower-digits {
    display: flex;
    gap: 10px;
}

#zero-digit {
    display: flex;
    justify-content: center;
}

#buttons-operators {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#lower-third {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

#button-clear {
    width: 170px;
}

#lower-third button {
    padding: 20px;
}